@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Storm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Serif', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#page-container {
  position: relative;
  min-height: 100vh;
  font-family: 'Noto Serif', serif;
  background-color: '#14274E';
}

#content-wrap {
  /* padding-bottom: 300px; */
}
#footer{
  /* height: 300px; */
}

#Monton{
  font-family: 'Monoton', cursive;
}

#RubyVinyl{
  font-family: 'Rubik Vinyl', cursive;
}

#RubikStorm{
  font-family: 'Rubik Storm', cursive;
}

#Oregano{
font-family: 'Oregano', cursive;
}

#Poppins{
  font-family: 'Poppins', cursive;
  }