.masked{
    background-image: url('../../images/bg_02.webp');
}

.para1{
    background-image: url('../../images/parallex/parallex_1.jpg');
}

.para2{
    background-image: url('../../images/parallex/parallex_2.png');
}

.para3{
    background-image: url('../../images/parallex/parallex_3.jpg');
}